body {
    margin: 50px;
    background-color: rgb(243, 200, 200);
}
#header {
    background-color: darkgreen;
    text-align: center;
    padding: 10px;
    border: 10px;
    width: 960px;
}
#header1 {
    color: white;
    font-size: 250%;
    animation-name: header1anime;
    animation-duration: 1s;
}
#header2 {
    color: white;
    font-size: 150%;
    animation-name: header2anime;
    animation-duration: 1s;
}
#trainschedule {
    border: 1px solid #000000;
    width: 960px;
    padding: 10px;
}
#trainschedule1 {
    color: white;
    background-color: rgb(59, 59, 204);
    padding: 10px;
    width: 960px;
}
#addtrain {
    border: 1px solid #000000;
    width: 960px;
    padding: 10px;
}
#addtrain1 {
    color: white;
    background-color: rgb(59, 59, 204);
    padding: 10px;
    width: 960px;
    animation-name: addtrain1;
    animation-duration: 1s;
}
table {
    width: 960px;
    font-weight: bold;
}

/* ANIMATION */

@keyframes header1anime {
    0% {
        margin: 0px 500px 0px 0px;
        font-size: 75%; 
        color: blue;
    }
    100% {
        margin: 0px 0px 0px 0px; 
    }
}
@keyframes header2anime {
    0% {
        margin: 0px 0px 0px 500px; 
        font-size: 75%;
        color: blue;
    }
    100% {
        margin: 0px 0px 0px 0px; 
    }
}
@keyframes addtrain1 {
    0% {
        font-size: 75%;
        color: blue;
    }
    100% {
        margin: 0px 0px 0px 0px; 
    }
}